{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row mt-5">
    <div class="col">
        <h2 class='text-center alert alert-warning'>Blog Lists</h2>
    
    
        <h6 class="fw-bold">Unpublished Blogs</h6>
        {% if draft %}
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Summary</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                
                    {% for post in draft %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>
                                {% if post.image %}
                                    <img src="{{ post.image.url }}" class="img-fluid rounded-circle" alt="Blog Image" style="height:50px;width:50px;">
                                {% endif %}
                            </td>
                            <td>
                                <div class="truncated-text" onclick="toggleFullText(this)">
                                    <span class="truncated-content">{{ post.summary|truncatechars:15 }}</span>
                                    <span class="full-content" style="display: none;">{{ post.summary }}</span>
                                </div></td>
                            <td><a href="{% url "published" post.pk %}" class = "btn btn-warning">Publish</a></td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <p>No drafts</p>
                {% endif %}
            </tbody>
        </table>
        <hr>
        <h6><a href="{% url "blog-posts" %}" class='btn btn-primary'>Posts</a></h6>
        <h6><a href="{% url "ddash" %}" class='btn btn-primary'>Back to Dashboard</a></h6>
    </div>
</div>
<script>
    function toggleFullText(element) {
        var row = element.closest('tr');
        var truncatedContent = row.querySelector('.truncated-content');
        var fullContent = row.querySelector('.full-content');

        if (fullContent.style.display === 'none') {
            truncatedContent.style.display = 'none';
            fullContent.style.display = 'inline';
        } else {
            truncatedContent.style.display = 'inline';
            fullContent.style.display = 'none';
        }
    }
</script>
{% endblock content %}
