{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row mt-5">
    <div class="col">
        <h2 class='text-center alert alert-warning'>Create Post</h2>
    </div>
    <form action="" method = 'POST' enctype = 'multipart/form-data'>
        {% if messages %}
        {% for message in messages %}
        <p class = "text-center text-danger fw-bold">{{message}}</p>
        {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" class = "btn btn-success" value= 'Post'>
        <input type="submit" class = "btn btn-success" name = 'save_to_draft' value= 'Save to Draft'>
        <a href="{% url "blog-home" %}" class = "btn btn-success">Back Blog page</a>
    </form>
    
    
</div>

{% endblock content %}